<html lang="de">
    <head>
        <meta charset="utf-8" />
        <style>
            body {
                font-family: helvetica, roboto, arial, sans-serif;
            }
        </style>
    </head>

    <body>
        <h1>Antrag auf Dienstreise abgelehnt</h1>
        <p>
            <strong>Datum: </strong>{{ workLog.date | date('d. m. Y') }}<br>
            <strong>Betrifft: </strong>{{ workLog.workMonth.user.firstName }} {{ workLog.workMonth.user.lastName }}<br>
            {% if supervisor is not null %}
                <strong>Abgelehnt durch: </strong>{{ supervisor.firstName }} {{ supervisor.lastName }}<br>
            {% endif %}
            <strong>Begründung: </strong>{{ workLog.rejectionMessage }}
        </p>
    </body>
</html>