<html lang="cs">
    <head>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>
            Work month {{ workMonth.month }}/{{ workMonth.year }}
            of employee {{ workMonth.user.firstName }} {{ workMonth.user.lastName }} was approved by {{ supervisor.username }}
        </h1>
    </body>
</html>